
.escan-nav{
    width: 100%;
    background-color: #e0592a;
}


.escan-nav ul li a:hover, .escan-nav ul li a:focus{
    background-color: white;
    color: #e0592a;
}

.escan-nav li ul  a{
    background-color: white;
    color: #e0592a;
}

.escan-nav li ul a:hover{
    background-color: #e0592a;
    color: white;
}
