
#frmRoles{
    border: 5px;
    margin-top: 5px;
    min-width: var(--escan-min--width);
    max-width: 500px;
    padding-left: 0;
    padding-right: 0;
}


#frmRoles .mat-card, #frmRoles  div {
     margin: 0px;
     padding: 0px;
}




#frmRoles mat-card mat-form-field{
    margin-top: 10px;
    margin-right: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

