.formulario{
    margin-top: 0;
}
#frmProforma{
    min-width: var(--escan-min-width); 
}


#registros-tabla{
    width: 100%;
    margin-top: 10px;
}


.escan-tabla{
    margin-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 500px;
}

.mat-header-cell{
  padding: 0 !important;
}



.mat-column-Codigo {
  padding: 0 !important;
  max-width: 850px;
}



.mat-column-Operacion {
  padding: 0 !important;
  font-weight: bold;
  max-width: 85px;
}

.mat-column-Valor {
    max-width: 100px;
}




  .escan-tabla mat-form-field, .escan-tabla .mat-input-element  {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    text-align: end !important;
  }
  




.escan-tabla .mat-row .escan-fila-no-borde, .escan-tabla tr.mat-row{
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }


.escan-fila-borde{
    border-top: 0;
    border-bottom: 3px solid var(--escan-verde);
}


 #registros-tabla  .mat-expansion-panel-content >  .mat-expansion-panel-body {
    padding: 0 ;
  }


.scaled {
    /*transform: scale(0.7);  Igual que: scaleX(0.7) scaleY(0.7) */
    /*transform: scaleY(0.7);*/
  }

  