.formulario{
    margin-top: 0;
}

.no-padding{
  padding-left: 15px;
}


#frmProforma{
    min-width: var(--escan-min-width); 
}



.escan-tabla{
    margin-top: 10px;
    width: 100%;
}

mat-form-field{
  .mat-form-field{
    padding-left: 70px;
  }
}



$breakpoints: (
  sm : 360px,

  md : 450px,

  lg : 768px,

  xl : 1024px

);

@mixin Tamano($points) {
  @media screen and (min-width: map-get($breakpoints, $points)) {
    @content;
  }
}

.mat-column{

  font-weight: bold;

  @include Tamano(sm)
  {
    &-Codigo{
      min-width: 70px;
      max-width: 70px;
    }

    &-Producto{
      min-width: 100px;
      max-width: 100px;
    }

    &-Operacion:not(th){
      min-width: 70px;
      max-width: 70px;
    }

    &-Valor{
      min-width: 120px;
      max-width: 120px;
    }

  }


  @include Tamano(md){

    &-Codigo{
      min-width: 150px;
      max-width: 150px;
    }
  
    &-Producto{
      min-width: 350px;
      max-width: 350px;
    }
  
    &-Operacion:not(th){
      min-width: 150px;
      max-width: 150px;
    }
  
    &-Valor{
      min-width: 150px;
      max-width: 150px;
    }
  
  
  }



  &-Producto{
    
    &:not(.mat-header-cell){

      text-align: justify;
      margin-bottom: 0;
      &:after {
        content: "";
        display: inline-block;
      }
    }

    

 
   
  }

  &-Operacion:not(th){
    vertical-align:bottom;
    text-align:right;
    margin-right: 5px;
    
  }

  &-Valor{
    vertical-align:bottom;
    text-align:center;
  }


  //mat-sort-header mat-header-cell cdk-header-cell ng-tns-c510-18 cdk-column-Codigo mat-column-Codigo ng-star-inserted



  .mat-cell{

    mat-form-field{
      .mat-form-field{
        

        &-wrapper,
        &-cript-wrapper{
          padding-bottom: 0;
          margin-top: 0;
        }
  
        &-infix{
          padding: 0px;
          margin: 0px;
          text-align: end;
        }

        
      }


      
    }
    


    

  
  }


  
}

.input-tabla 
{
  width: 80%;
  input{
    text-align: end;
    margin-left: 0px;
    margin-right: 0px;
  }

}
 




/*

  .escan-tabla  mat-form-field input {
    padding: 0px;
    margin: 0px;
    text-align: end;
  }

  .mat-paginator-container .mat-form-field{
    text-align: center;;
  }
  .mat-input-element:disabled{
    color: black;
  }
  




.escan-tabla .mat-row .escan-fila-no-borde, .escan-tabla tr.mat-row{
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }


.escan-fila-borde {
    border-top: 0 !important;
    border-bottom: 3px solid var(--escan-verde) !important;
}


 #registros-tabla  .mat-expansion-panel-content >  .mat-expansion-panel-body {
    padding: 0 ;
  }


.scaled {
    transform: scale(0.7); 
    transform: scaleY(0.7);
  
}*/
