.formulario{
    margin-top: 0;
}
#frmProforma{
    min-width: var(--escan-min-width); 
}


#registros-tabla{
    width: 100%;
    margin-top: 10px;
}


.escan-tabla{
    margin-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 500px;
}

.mat-header-cell{
  padding: 0 !important;
}


.mat-column-Codigo {
  padding: 0 !important;
  max-width: 85px;
}



.mat-column-Operacion:not(th) {
  padding: 0 !important;
  font-weight: bold;
  max-width: 85px;
  vertical-align:bottom;
  text-align:center;

}


.mat-column-Valor {
  max-width: 100px;
  vertical-align:bottom;
  text-align:center;

}


.escan-tabla .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0;
}

.escan-tabla .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0;
}

.escan-tabla .mat-form-field-appearance-legacy .mat-form-field-infix, .escan-tabla mat-form-field {
   padding: 0; 
}


  .escan-tabla  mat-form-field input {
    padding: 0px;
    margin: 0px;
    text-align: end;
  }

  .mat-paginator-container .mat-form-field{
    text-align: center;;
  }
  .mat-input-element:disabled{
    color: black;
  }
  




.escan-tabla .mat-row .escan-fila-no-borde, .escan-tabla tr.mat-row{
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }


.escan-fila-borde {
    border-top: 0 !important;
    border-bottom: 3px solid var(--escan-verde) !important;
}


 #registros-tabla  .mat-expansion-panel-content >  .mat-expansion-panel-body {
    padding: 0 ;
  }


.scaled {
    /*transform: scale(0.7);  Igual que: scaleX(0.7) scaleY(0.7) */
    /*transform: scaleY(0.7);*/
  }



  tr.mat-row { height: 20px !important; }
  