
#div-login{
  padding: 0;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.2em;
  min-width: 100%;
  max-height: 100%;
}

#div-login div{
  word-wrap:break-word;
}


#div-login .mat-icon {
  font-size: 35px;
  color: black;
}


#lblTitulo1 {
  font-style: italic;
  color: green;
  font-family: 'SavingsBond';
  font-size: 3.5em;
  text-align: center;
}

#lblTitulo2 {
  font-style: italic;
  color: #ff4500;
  font-family: 'SavingsBond';
  font-size: 1em;
  text-align: center;
}

.form-signin {
    padding: 15px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 4px 14px 6px rgba(0,0,0,0.76);
    border: 5px solid green;
    color: green;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-width: 350px;
    max-width: 450px;
    max-height: 700px;
  }
  

mat-form-field {
    width: 100%;
  }

mat-label {
  color: black;
  font-size: 1em;
}


  
.form-signin  {
    z-index: 1;
  }
  
  .form-signin  input{
    color: green;
    font-family: 'SavingsBond';
    text-align: center;
  }



  #btnIniciar{
    background-color: green;
    font-family: 'SavingsBond';
    height: 60px;
  }
  

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #ff4500 !important;
}


::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #ff4500 !important;
}

::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  width: 24px;
  height: 24px;
}


