/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
    min-width: 400px; 
    background: url("src/assets/images/fondo.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
   
    
}

.container, .container-fluid{
  padding: 0;
}

mat-form-field {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


:root {
  --escan-naranja:  #ff4500;
  --escan-verde: #009d43;
  --escan-fondo: white;



  --escan-min--width: 350px;
}


mat-label {
  color: black;
  font-size: 1em;
}




.mat-form-field.mat-focused  .mat-form-field-ripple{
    background-color: var(--escan-naranja); 

}

.mat-error {
    border-color: var(--escan-naranja);
    color: var(--escan-naranja);
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color:  var(--escan-naranja);
}


.mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: var(--escan-naranja) !important;
}


.mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--escan-naranja) !important;
}

.mat-checkbox .mat-checkbox-inner-container {
  width: 24px;
  height: 24px;
}






.escan-text{
    font-style: italic;
    font-family: 'SavingsBond';
}

.escan-min-width{
    min-width: var(--escan-min--width); 
}






/**************************************************************************************************
                                        FORMULARIO
**************************************************************************************************/



.formulario{
    background-color: var(--escan-fondo);
    border: 3px solid var(--escan-verde);
    box-shadow: 3px 4px 14px 6px rgba(0,0,0,0.76);
    border-radius: 5px;
}


.formulario .btnAccion{
    display: flex;
    justify-content: center; 
    align-items: center;
}


.formulario button{
    margin: 10px;
}

.formulario .line-vertical {
    
    border-left: 2px solid black;
    height: 100%;
  }


.formulario .btn-escan-aceptar{
    background-color: transparent;
    border: 2px solid var(--escan-verde);
    color: var(--escan-verde);
}

.formulario button .mat-icon {
    transform: scale(1.5);
  }

.formulario .btn-escan-cancelar{
    background-color: transparent;
    border: 2px solid var(--escan-naranja);
    color: var(--escan-naranja);

}

.formulario .btn-escan-salir{
  background-color: transparent;
  border: 2px solid black;
  color: black;

}


.formulario .btn-escan-aceptar:hover{
    background-color: var(--escan-verde);
    border: 0;
    color: var(--escan-fondo);
}

.formulario .btn-escan-cancelar:hover{
    background-color: var(--escan-naranja);
    border: 0;
    color: var(--escan-fondo);
}

.formulario .btn-escan-salir:hover{
  background-color: black;
  border: 0;
  color: var(--escan-fondo);
}



/**************************************************************************************************
                                        TABLA
**************************************************************************************************/





/*****************************************************TABLA*****************************************************/

table tr , table th{
  margin: 0;
  padding: 0;
}

table tr a{
  margin: 15px;
}


.escasan-contenedor-tabla{
  border: 5px solid var(--escan-verde);
  min-width: var(--escan-min--width)
}



.escasan-contenedor-tabla div,
.escasan-contenedor-tabla mat-form-field{
  margin: 0;
  padding: 0;
}

.escan-tabla{
  overflow-x: auto;
  width: 100%;
  height: 100%;
}




.escasan-contenedor-tabla .escan-tabla-franja{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--escan-naranja);
  text-align: center;
;
}

.escasan-contenedor-tabla, .escan-tabla, .escan-tabla-franja, .escan-tabla-filtro{
  min-width: var(--escan-min--width);
  background-color: var(--escan-fondo);
}

.mat-header-row, .mat-header-cell{
  background-color: var(--escan-verde);
  color: var(--escan-fondo);
}




.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.nueva-fila{
  background-color: var(--escan-naranja);
  color: black;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}


.mat-paginator, .mat-paginator .mat-select-value,
.mat-paginator .mat-select-arrow,
.mat-paginator .mat-form-field-underline,
.mat-paginator .mat-icon-button,
.mat-paginator .mat-paginator-icon{
  background-color: var(--escan-naranja);
  color: var(--escan-fondo);
}




.mat-option:hover:not(.mat-option-disabled),
.mat-option .mat-active{
  background-color: var(--escan-verde);
  color: var(--escan-fondo);
}



.mat-paginator .mat-form-field-underline{
  background-color: var(--escan-fondo);
}

.ng-tns-c156-4 .ng-trigger .ng-trigger-transformPanel .mat-select-panel .mat-primary {
  background-color: var(--escan-verde);
}


/***************************************************************************************************************/


/**************************************************************************************************
                                        COMBO BOX
**************************************************************************************************/

.igx-input-group__border{
    background-color: var(--escan-verde) !important;
    border: 1px solid var(--escan-verde) !important;
}




.igx-drop-down__header{
  text-align: center !important;
  padding: 4px !important;
  
}

.igx-drop-down__header span {
    width: 100%;
    color: var(--escan-naranja) !important;
    font-weight: bold;
  }


.igx-drop-down__item--focused,
.igx-drop-down__item--selected{
  background-color: var(--escan-verde)  !important;
  color: var(--escan-fondo) !important;
}

.idle-bottom-line-color{
    background-color: var(--escan-fondo) !important;
    color: black !important;
  }



  .igx-checkbox__composite,
  .igx-checkbox__composite-mark,
  .igx-checkbox--checked,
  .igx-drop-down__item--selected[type='checkbox']:checked{
    color: var(--escan-fondo) !important;
    background-color: var(--escan-naranja) !important;
    border: 1px solid var(--escan-naranja) !important;
  }
