:root{
  --escan-naranja:  #ff4500;
  --escan-verde: #009d43;
  --escan-fondo: white;

  --escan-border-size: 3px;
  --escan-min--width: calc(360px var(--escan-border-size)) ;
  --escan-font--size: 1em;


  
  .mat-calendar-body{

    &-selected{
      background-color: var(--escan-naranja);
      color: var(--escan-fondo);
    }

    &-today{
      background-color: var(--escan-verde);
      color: var(--escan-fondo);

      &:not(&-selected), &:not(&-comparison-identical){
        background-color: var(--escan-verde);
        color: var(--escan-fondo);
      }
    }



  }
}




  /* You can add global styles to this file, and also import other style files */
  html{
    min-height:100%;
    position:relative;
    box-sizing: border-box;
    }
    

    body{
    height:100%; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: default;
    box-sizing: border-box;
    }
    

    html, body {
      min-width: var(--escan-min--width); 
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      background: url("~src/assets/images/fondo.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-size: var(--escan-font--size);
    }


*, *::before, *::after{
  box-sizing: inherit;
}

.no-padding-margin{
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}


.escan-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--escan-min--width);
}



app-root{
  


  /**************************************************************************************************
                                          
  **************************************************************************************************/
  
  .igx{

    &-typography{

      & h1,
      & h2,
      & h3{
        line-height: 1.2em;
      }
    }
  }



  .mat-icon{
    transform: scale(1.3);
  }
  
  .ng-untouched  .mat-icon:no-button{
    color: black;
  }
  
  .mat-form-field.mat-focused {
    .mat-form-field-ripple {
      background-color: var(--escan-verde); 
    }
  }

  
  .mat-error
  {
    color: var(--escan-naranja);
  }
  
  .mat-form-field-invalid{
    .mat-icon{
      border-color: var(--escan-naranja);
    }

    
  }
  

  .ng-valid{
    .mat-form-field{
      &-prefix,
      &-suffix{
        .mat-icon{
          color: var(--escan-verde);
        }
      }
      
    }
  }

  


  
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color:  var(--escan-naranja);
  }
  
  
  
  .mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background-color: var(--escan-naranja);
  }
  
  .mat-checkbox .mat-checkbox-inner-container {
    width: 24px;
    height: 24px;
  }
  
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: var(--escan-naranja) ;
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: var(--escan-naranja);
  }
  
  
  
  
  .escan-text{
      font-style: italic;
      font-family: 'SavingsBond';
  }
  
  
  /**************************************************************************************************
                                          FORMULARIO
  **************************************************************************************************/
  
  
  
  .formulario,
  .escan-registros{
    background-color: var(--escan-fondo);
    border: var(--escan-border-size ) solid var(--escan-verde);
    box-shadow: var(--escan-border-size) 4px 14px 6px rgba(0,0,0,0.76);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: var(--escan-min--width);
    margin-left: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;



  & .btnAccion{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-width: var(--escan-min--width);
    width: 100%;
    
    & button{
      margin: 10px;

      & .mat-icon {
        transform: scale(1.5);
      }
    }

    & .line-vertical {
      border-left: 2px solid black;
      height: 100%;
    }


    & .btn-escan{

      &-aceptar{
        background-color: transparent;
        border: 2px solid var(--escan-verde);
        color: var(--escan-verde);

        &:hover{
          background-color: var(--escan-verde);
          border: 0;
          color: var(--escan-fondo);
        }

      }

      &-cancelar{
        background-color: transparent;
        border: 2px solid var(--escan-naranja);
        color: var(--escan-naranja);

        &:hover{
          background-color: var(--escan-naranja);
          border: 0;
          color: var(--escan-fondo);
      }
    }

    &-salir,
    &-buscar{
      background-color: transparent;
      border: 2px solid black;
      color: black;

      &:hover{
        background-color: black;
        border: 0;
        color: var(--escan-fondo);
      }
    }
    

     
  }

  }
  
  & input,
  & label{
    margin-left: 10px;
  }

  
}
  
  
  
mat-label {
  color: black;
  font-size: var(--escan-font--size);
}


  
  
  
  
 
  

  
  
  /**************************************************************************************************
                                          EXPANSION PANEL
  **************************************************************************************************/


  .mat-expansion-panel-header{
    background-color: var(--escan-naranja);
    color: var(--escan-fondo);
    display: flex;
    justify-content: center; 
    align-items: center;
    max-height: 30px;
    padding: 0;
  }
  
  .mat-expansion-panel{
    &-body{
      padding: 0;
      margin: 0;
    }
  } 
  
  
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: var(--escan-ver);
  }
  
  
  
  .escan-expan-panel.mat-expanded,
  .escan-expan-panel.mat-expanded:hover,
  .escan-expan-panel:hover,
  .escan-expan-panel.mat-expanded:focus,
  .escan-expan-panel.mat-expanded:focus:not([aria-disabled=true]),
  .mat-expansion-panel .escan-expan-panel.cdk-keyboard-focused:not([aria-disabled=true]),
  .mat-expansion-panel .escan-expan-panel.cdk-program-focused:not([aria-disabled=true]),
  .mat-expansion-panel:not(.mat-expanded) .escan-expan-panel:hover:not([aria-disabled=true]),
  .escan-expan-panel.mat-expanded:hover:not([aria-disabled=true]) {
    background-color: var(--escan-verde);
  }
  
  
  
  
  
  /**************************************************************************************************
                                          MAT-CARD
  **************************************************************************************************/
  
  .formulario{

    & .mat-card{

      &-header{
        background-color: var(--escan-verde);
        color: var(--escan-fondo);
        display: flex;
        justify-content: center; 
        align-items: center;
        padding-top: 10px;    
      }

      &-title{
        font-weight: bold;
        font-size: 1em;
      }

    }

 
    
  }

  
  
  
  /**************************************************************************************************
                                          TABLA
  **************************************************************************************************/
  
  table{

    .mat-header{

      display: flex;
      width: 100%;

      &-cell{
        width: 100px;
        background-color: var(--escan-verde);
        color: var(--escan-fondo);
        border: none;
      }
  
    }
    

    

    .mat-sort-header{
      color: var(--escan-fondo);

      &-indicator,
      &-pointer-left,
      &-arrow,
      &-pointer-right{
        color: var(--escan-fondo);
      }
      
    }

    th.mat-header,
    td.mat,
    td.footer{
      &-cell:first-of-type{
        padding-left: 0;
      }
    }   
   // mat-sort-header mat-header-cell cdk-header-cell ng-tns-c510-2 cdk-column-Rol mat-column-Rol ng-star-inserted
    
  }


  .mat-expansion-panel{
    &-body{
      padding: 0;
    }
  }

  .escan-tabla-franja{
    background-color: var(--escan-naranja);
    color: var(--escan-fondo);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  .escan-tabla-filtro{

    &-franja{
      background-color: var(--escan-naranja);
      color: var(--escan-fondo);
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
    }
  }
  
  & .mat-input-element{
    margin-top: 3px;
  }

  
  /***************************************************************************************************************/
  
  
  /**************************************************************************************************
                                          COMBO BOX
  **************************************************************************************************/
  
  
   [class^=igx-] {
  
    
      igx-combo-item{
       /* &.igx-drop-down__item--selected.igx-drop-down__item--focused{
          background-color: var(--escan-verde);
          color: var(--escan-fondo);
        }*/
        --selected-hover-item-background: var(--escan-verde);
        --selected-item-background: var(--escan-verde);
        --selected-focus-item-background :var(--escan-verde);
      }
  
      igx-input-group{
        --focused-secondary-color: var(--escan-verde);
        --success-secondary-color: var(--escan-verde);
        --error-secondary-color: var(--escan-naranja);
      }
  
      
      igx-checkbox {
        --fill-color: var(--escan-naranja);
      }
  
    }
    
  
  
  
  
  
  /**************************************************************************************************
                                          MODAL
  **************************************************************************************************/
  app-modal{
  
    
    .dt-green {background-color: #4CAF50;} /* Green */
    .dt-blue {background-color: #008CBA;} /* Blue */
    .dt-red {background-color: #f44336;} /* Red */
    .dt-orange {background-color: #ff9800;} /* Orange */
    .dt-rocedes {background-color: #1b364c;} 
  
    .escan-modal, .ui-modal-header {
      background-color: var(--escan-verde);
    }
  
    .ui-modal-body {
      padding: 0px;
      width: 100%;
    }
  
    .hide-element {
      display: none;
    }
  
     
    .escan-modal .ui-modal {
      min-width: var(--escan-min--width);
      max-width: 1000000px;
      width:var(--escan-min--width);
    }
  
    .escan-modal  .ui-modal-overlay, .escan-modal  .ui-modal {
      z-index: 10;
    }
  }
  
  
  
  
  
  
}
