/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
html, body { min-height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("src/assets/images/fondo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top; 
}


.escan-min-width{
    min-width: 400px;
}


.escan-text{
    font-style: italic;
    font-family: 'SavingsBond';
}

.escan-footer{
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 350px;
    min-height: 150px;
    max-height: 150px;
}

.escan-footer div{
    margin-left: 5%;
    margin-right: 5%;
}



.text-pie1, .text-pie2{
    color: white;
    font-size: 1em;  
}

.text-pie1{
    font-size: 4em;
    font-family: 'SavingsBond';
}


